<div class="w-full h-[92vh] flex flex-col">
    <h1 class="m-10 text-2xl">{{projectData.name}}</h1>
    <br>
    <br>
    <div class="flex flex-1">
        <div class="w-1/3 h-full text-center ">
            <h2>To do</h2>
            <button (click)="isCreatingNewTodo = true" class=" px-4 bg-white  h-8 rounded-lg text-lg hover:bg-gray-100">+</button>
            
            <br>
            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="allTodoColTodos" [cdkDropListConnectedTo]="[progList,doneList]"
                 (cdkDropListDropped)="drop($event)" class="h-full">
                <div *ngIf="isCreatingNewTodo" class=" rounded-2xl w-[90%] flex m-2 flex-col bg-blue-100 p-1">
                    <textarea [(ngModel)]="newTodo" rows="2" class="rounded-xl p-2 resize-none"></textarea>
                    <div class="w-full flex ">
                        <button (click)="handleOnAddNewTodo()" class="rounded-md bg-blue-300 text-white m-2 py-2 w-3/4">Add</button>
                        <button (click)="isCreatingNewTodo = false" class="rounded-md text-blue-300 bg-white m-2 py-2 w-1/4">X</button>
                    </div>
                </div>
                <div class="bg-white w-[90%] m-2 p-4 rounded-lg" *ngFor="let todo of allTodoColTodos" (click)="handleOnClickTask(todo)" cdkDrag>{{todo.title}}</div>
            </div>
        </div>
        <div class="w-1/3 h-full text-center">
            <h2>In progress</h2>
            <br>
            <div cdkDropList #progList="cdkDropList" [cdkDropListData]="allInPrograceColTodos" [cdkDropListConnectedTo]="[todoList, doneList]"
                 class="h-full" (cdkDropListDropped)="drop($event)">
                <div  class=" w-[90%] m-2 p-1 rounded-lg"></div>
                <div class="bg-white w-[90%] m-2 p-4 rounded-lg" *ngFor="let todo of allInPrograceColTodos" (click)="handleOnClickTask(todo)" cdkDrag>{{todo.title}}</div>
            </div>
        </div>
        <div class="w-1/3 h-full text-center">
            <h2>Done</h2>
            <br>
            <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="allDoneColTodos" [cdkDropListConnectedTo]="[todoList, progList]"
                class="h-full" (cdkDropListDropped)="drop($event)">
                <div  class=" w-[90%] m-2 p-1 rounded-lg"></div>
                <div class="bg-white w-[90%] m-2 p-4 rounded-lg" *ngFor="let todo of allDoneColTodos" (click)="handleOnClickTask(todo)" cdkDrag>{{todo.title}}</div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isUpdatingTask"
    class=" w-5/6 h-4/5 flex bg-white text-black overflow-auto  absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] rounded-2xl">
    <div class="m-8 flex-1">
        <div class=" flex w-full h-1/4">
            <div class=" w-1/2 h-full flex items-center">
                <h1 (click)="isUpdateingTodoTitle = true ; selectedTodoTitleUpdate = selectedTask.title" *ngIf="!isUpdateingTodoTitle" class="text-3xl">{{selectedTask.title}}</h1>
                <div *ngIf="isUpdateingTodoTitle">
                    <textarea class="w-full text-2xl p-2 border " [(ngModel)]="selectedTodoTitleUpdate" rows="1"></textarea>
                    <button (click)="handleOnUpdateTodo(selectedTask.id,selectedTodoTitleUpdate, selectedTask.context, selectedTask.status, selectedTask.username, selectedTask.index) ">Update</button>
                    <button (click)="isUpdateingTodoTitle = false">Cancel</button>
                </div>
            </div>
            <div class=" w-1/2 h-full">
                <button (click)="isUpdatingTask = false" class="float-right">X</button>
                <br>
                <div class="w-full text-center">
                    <h1>By: {{selectedTask.username}}</h1>
                    <h1>created at: {{selectedTaskCreatedAt}}</h1>
                    <br>
                    <button (click)="handleOnClickDelete()" class="m-auto">Delete task</button>
                </div>
            </div>

        </div>
        <div>
            <h1>Description:</h1>
            <br>
            <div *ngIf="selectedTask.context" class="p-4">
                <p (click)="isUpdateTodoContext = true" *ngIf="!isUpdateTodoContext">{{selectedTask.context}}</p>
                <div *ngIf="isUpdateTodoContext">
                    <textarea [(ngModel)]="selectedTodoContext" class="border resize-none border-blue-500 rounded-lg w-full" rows="3"></textarea>
                    <button class="bg-blue-300 mr-4 text-white py-2 px-4 rounded-md" (click)="handleOnUpdateTodo(selectedTask.id,selectedTask.title, selectedTodoContext,selectedTask.status, selectedTask.username, selectedTask.index )">Update</button>
                    <button class="bg-gray-100  py-2 px-4 rounded-md" (click)="isUpdateTodoContext = false ; selectedTodoContext = selectedTask.context">Cancel</button>
                </div>
            </div>
            <div *ngIf="!selectedTask.context">
                <textarea placeholder="You don't have a context, add one"  [(ngModel)]="selectedTodoContext" class="border border-blue-500 rounded-lg resize-none p-2 w-full" rows="3"></textarea>
                <button class="bg-blue-300 text-white py-2 px-4 rounded-md" (click)="handleOnUpdateTodo(selectedTask.id,selectedTask.title, selectedTodoContext, selectedTask.status, selectedTask.username, selectedTask.index )">Add</button>
            </div>
        </div>
        <br>
        <div class="flex w-full flex-col ">
            <label for="">Comment:</label>
            <br>
            <textarea class="p-4 resize-none border border-blue-500 rounded-lg " placeholder="Write a comment for people to see" rows="3" [(ngModel)]="commentMsg"></textarea>
            <button (click)="handleOnClickSendComment()" class="my-2 rounded-lg hover:bg-blue-500 bg-blue-300 mx-auto text-white py-2 px-8 w-max">Send</button>
            <br>
            <div *ngIf="isTodoCommentLoading">Loading...</div>
            <div *ngIf="!isTodoCommentLoading">
                <div *ngFor="let comment of allSelectedTodoComments">
                    <h1>From: {{comment["userName"]}}</h1>
                    <p class="pl-8">{{comment["context"]}}</p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div> 